<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- <div id="game-container" style="border-style: solid; padding:2px 4px;"></div> -->
    <div id="game-container"></div>

    <script src="https://unpkg.com/konva@8.0.4/konva.min.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
  </body>
</html>
